body {
  padding-top: 60px;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}


.images {
  padding: auto;
  display: flex;
  padding-top: 120px;
}

.images img {
  margin-right: 5px;
}

.title {
  text-align: center;
  margin-bottom: auto;
  padding-top: 50px;
}


.contac {
  display: block;
  flex: auto;
  padding: 5px;
}

p {
  display: flex;
  color: rgb(0, 0, 0);
  border: -0;
  font-size: smaller;
  font-family: "Courier New", Courier, monospace;
  opacity: 0; /* Establece la opacidad inicial en 0 */
  transition: opacity 1s ease; /* Aplica una transición suave de 1 segundo a la opacidad */
  text-decoration: none;
  
    
}

section a{
  color: #2288b1; /* color original del enlace */
  transition: color 0.3s ease-in-out; /* animación al cambiar el color */
}



 section a:hover {
  color: #cdd417; /* nuevo color del enlace al pasar el cursor */
  text-decoration: none; /* quita el subrayado */

}
