body {
  padding-top: 60px;
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen img {
  max-width: 100%;
  height: auto;
  margin-right: 40px; 
}




#sound-images {
  display: flex;
  justify-content: center;
  align-items: center;}

#sound-images img {
  width: 180px;
  height: auto;
  margin-right: 10px;
}

#sound-images img:hover {
  transform: scale(2.15); 
}

.title {
  text-align: center;
  margin-bottom: auto;
  padding-top: 50px;
}

.contac {
  display: block;
  flex: auto;
  padding: 10px;
}

span.typing {
  display: inline-block;
  border-right: 4px solid;
  font-size: smaller;
  font-family: "Courier New", Courier, monospace, "roboto";
  opacity: 0;
  white-space: nowrap;
  width: 0;
  animation: typing 2s steps(12), blink 5s infinite step-end alternate;
  overflow: hidden;
  margin: 20px auto;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
section a{
  color: #3aedd2; 
  transition: color 0.3s ease-in-out; 
}



 section a:hover {
  color: #cfd60b; 
  text-decoration: none; 

}


.spacer {
  height: 50px; 
}
