body {
  padding-top: 60px;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}


.images {
  padding: auto;
  display: flex;
  padding-top: 120px;
}

.images img {
  margin-right: 5px;
}

.title {
  text-align: center;
  margin-bottom: auto;
  padding-top: 50px;
}



.contac {
  display: block;
  flex: auto;
}

p {
  display: flex;
  color: rgb(0, 0, 0);
  border: -0;
  font-size: smaller;
  font-family: "Courier New", Courier, monospace;
  opacity: 0; /* Establece la opacidad inicial en 0 */
  transition: opacity 1s ease; /* Aplica una transición suave de 1 segundo a la opacidad */
  text-decoration: none;
    
}

a {
  text-decoration: none; /* Quita el subrayado */
  color: #000000; /* Establece el color del enlace */
  font-family: "Courier New", Courier, monospace;
}

a:hover {
  color: #00ff44; /* Cambia el color del enlace cuando se coloca el cursor sobre él */
  text-decoration: underline; /* Agrega una línea de subrayado cuando se coloca el cursor sobre el enlace */
}
